a,a:focus,a:hover {
	color: #fff;
}
.btn-default,
.btn-default:hover,
.btn-default:focus
{
	color:#355;
	text-shadow: none;
	background-color:#fff;
	border:1 px solid black #fff;
	 
}
html,body{
	height: 100%;
	background-color: #356;
	
	
}
body{
	color: #fff;
	text-align: center;
	text-shadow:0 1px 3px rgba(0,0,0,.5);
}
.site-wrapper{
	display: table;
	width: 100%;
	height: 100%;
	-webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.4);
}
.drishti{
	font-style: italic;
	font-size: 56px;
}
.site-wrapper-inner
{
	display: table-cell;
	vertical-align: top;
}
.cover-container
{
	margin-left: auto;
	margin-right: auto;
}
.inner cover{
	vertical-align: middle;
}
.inner
{
	padding:30px;
	vertical-align: top;
	
	
}
.masthead-brand
{
	margin-top:10px;
	margin-bottom: 10px;
}
@media (min-width:768px)
{
.masthead-nav
{
	float:right;
}
.masthead-brand
{
	float:left;
}
}
@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
	
	
  }
  .site-wrapper-inner2{
	  vertical-align: middle;
	  background-color: #fff;
	  height: 100%;
	  color: black;
  }
  .site-wrapper-inner3{
	  vertical-align: middle;
	  background-color: #356;
	  height: 100%;
	  color: black;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
	
  }
}

.masthead-nav>li
{
	display:inline-block;
}
.masthead-nav >li +li{
	margin-left: 20px;
}
.masthead-nav>li>a{
	padding-right: 0;
	padding-left: 0;
	font-size: 16px;
	font-weight: bold;
	color: black;
	color: rgba(#fff);
	border-bottom:2px solid transparent;
}
.masthead-nav>li>a:hover,.masthead-nav>li>a:focus
{
	background-color: transparent;
	border-bottom-color: #a9a9a9;
	 
}
.masthead-nav>.active>a,
.masthead-nav>.active>a:hover,
.masthead-nav>.active>a:focus{
	color: black;
	border-bottom-color: #fff;
}
.cover{
	padding: 0 20px;
}
 
.cover .btn-lg{
	padding: 10px 20px;
	font-weight: bold;
}